{% extends 'hermes/index.html' %}


{% block modal %}

<html>
  <head>
    <meta charset="utf-8">
    <title>D3 World Map</title>
    <style>
      path {
        stroke: white;
        stroke-width: 0.5px;
        fill: black;
      }
        #modalClose:hover{
            background: #ff651e;
        }
    </style>
      {% load static %}
      <link href="{% static 'hermes/style.css' %}">
  </head>


    <div id="modal_div" style="z-index:50;left:1%;top:1%;position: absolute; width: 98%; height: 98%;
        background:black; border-radius: 15px;display:inline;">
            <div id="map_container" style="position:relative;left:1%;width:98%;height:100%">
            <div style="position:relative;float:right;margin-right:15px;top:15px;">
                    <button id="modalClose" style="background:#ff651e; width:100px; border-radius: 10px;border:none">
                        <i class="fa fa-times fa-2x orange-font">
                        </i>
                    </button>
            </div>
        </div>
    </div>

</html>

{% endblock %}