{% extends 'hermes/index.html' %}

{% block content %}
    <head>
        {% load static %}
        <script src="{% static 'javascript/home.js'%}"></script>
    </head>
    <body style="background: whitesmoke">
            <select id="city_dropdown" class="gradient4 quiz-select">
                    {% for city in cities %}
                        <option value={{ city }}> {{ city }}</option>
                    {% endfor %}
            </select>
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map" style="position: absolute;left:0;height: 500px;width: 100%;margin-top:45px"></div>
    </body>

    <footer>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script>

        <script async defer
            src='{{ google_map_url }}'>
        </script>
</footer>
{% endblock %}