<!DOCTYPE html>
<html>
  <head>
      <title> Worthwild </title>
      <!-- Bootstrap CDN -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
              crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
            integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
            crossorigin="anonymous">
      <!-- end boostrap-->

      <script src="https://d3js.org/d3.v4.min.js"></script>
      <script src="http://d3js.org/topojson.v0.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://use.fontawesome.com/8265947dd0.js"></script>

      <!-- static -->
      {%  load static %}
      <script src="{% static 'datamaps.world.min.js'%}"></script>
      <script src="{% static 'javascript/map.js' %}"></script>
      <link rel="stylesheet" href="{% static 'hermes/style.css' %}">
      <script src="{% static  'javascript/map.js'%}"></script>
      <script src="{% static  'javascript/control.js'%}"></script>
      <!-- end static -->
  </head>

<div id="header">
          <div class="row">
                <div class="col-xs-4 col-sm-2">
                  <a id=home_link href="/menu" style="border-right:3px solid #60e9ff;width: 100%;" class="header-item">
                      <div style="margin-top: 5px;">
                          <i id=map_icon class="fa fa-globe fa-2x light-blue-font"></i>
                          <b> Worthwind </b>
                      </div>
                  </a>
                </div>
                <div class="col-xs-4 col-sm-8"></div>
                <div class="col-xs-4 col-sm-2">1
                    <div class="header-item">
                        <div class="dropdown">
                              <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                 aria-haspopup="true" aria-expanded="false">
                                <i id=menu_button class="fa fa-align-justify fa-2x light-blue-font"></i>
                              </a>

                              <div id="header_dropdown" class="dropdown-menu header-button" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/about">About</a>
                                <a class="dropdown-item" href="/contact">Contact</a>
                                <a class="dropdown-item" href="/privacy">Privacy</a>
                                <a class="dropdown-item" href='#' onclick="getLocation()">MOVE</a>
                              </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>

  <body style="background:#4a4b4c">
    <div style="margin-top: 50px">
        {% block content %}
        {% endblock %}
    </div>
  </body>

<div style="position: fixed;width:100%;bottom:0;background: #dedede;height:35px;color:#fefefe">
    PRICAVY GHIRWSV
</div>

</html>

