{% extends 'hermes/index.html' %}
{% load static %}

{% block content %}

<div class="img-container">
    <div class="centered" style="color:white">New York</div>
    <div class="menu-card">
        <img style="width: 100%;height:100%;filter:opacity(0%)" src="{% static 'hermes/NY.jpeg' %}">
    </div>
</div>
<div class="img-container">
    <div class="centered" style="color:white">Boston</div>
    <div class="menu-card">
        <img style="width: 100%;height:100%;filter:opacity(0%)" src="{% static 'hermes/boston.jpg' %}">
    </div>
</div>
<div class="img-container">
    <div class="centered" style="color:white">San Francisco</div>
    <div class="menu-card">
        <img style="width: 100%;height:100%;filter:opacity(0%)" src="{% static 'hermes/sanfran.jpg' %}">
    </div>
</div>
<div class="img-container">
    <div class="centered" style="color:white">Pittsburgh</div>
    <div class="menu-card">
        <img style="width: 100%;height:100%;filter:opacity(0%)" src="{% static 'hermes/pitt.jpg' %}">
    </div>
</div>
<div class="img-container">
    <div class="centered" style="color:white">Milwaukee</div>
    <div class="menu-card">
        <img style="width: 100%;height:100%;filter:opacity(0%)" src="{% static 'hermes/milwaukee.jpg' %}">
    </div>
</div>
<div class="img-container">
    <div class="centered" style="color:white">Austin</div>
    <div class="menu-card">
        <img style="width: 100%;height:100%;filter:opacity(0%)" src="{% static 'hermes/austin.jpg' %}">
    </div>
</div>


{% endblock %}