/*Colors*/
.white{
    background: white;
}

.white-font{
    color:white;
}

.grey{
    background:#1a1b1c;
}
.grey-font{
    color:#1a1b1c;
}
.blue{
    background:#033ebc;
}
.blue-font{
    color:#033ebc;
}
.light-blue{
    background: #60e9ff;
}
.light-blue-font{
    color: #60e9ff;
}
.orange{
    background: #ff651e;
}
.orange-font{
    color: #ff651e;
}
.red{
    background:#ff1e1e;
}
.red-font{
    color:#ff1e1e;
}
.green{
    background: #1eff56;
}
.green-font{
    color:#1eff56;
}

.rounded-div{
    border-radius: 15px;
}

#modalClose:hover{
    color:#ff651e;
}

.header_button{
    background: #1a1b1c;
    width:100%;
}

#menu_list{
    list-style-type: none;
    width:100%;
    left:0;
    text-align: center;
}

#menu_list li{
    background: #111111;
    width:100%;
    color:white;
    padding:10px;
    font-size: 2em
}

#menu_list li a{
    text-decoration: none;
    color:white
}

.about-div{
    background: #111111;
    width:100%;
    height: 100%;
    color:white;
    padding:10px;
}

.about-div img{
    width:100%;
    border-radius: 50%
}

.menu-card{
    width: 100%;
    height:200px;
    background:black;
    text-align: center;
    color:white
}

/*IMAGE TEXT*/
.img-container {
    float:left;
    width: 33.3333333%;
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}